<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Cedar Market Account Registration</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>

    <div class="form">
    <p><strong>Cedar Market Account Registration</strong></p>
    <form action="/register" method="POST">
        
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>        
        
        <button type="submit">Register</button>

        <p> Already Registered? <a href="/login">Login</a></p>
        <p>Go back? <a href="/">Home</a></p>
    </form>
    </div>
</body>
</html>