<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cedar Market Account Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
		<div class="navbar_container"></div>
			
		<ul class="navbar__menu">
			<li class="navbar__item"><a href="/" class="navbar__links">Home</a></li>
			<li class="navbar__item"><a href="menu" class="navbar__links">Menu</a></li>
			<li class="navbar__item"><a href="order" class="navbar__links">Order</a></li>
			<li class="navbar__item"><a href="login" class="navbar__links">Login</a></li>
			<li class="navbar__item"><a href="register" class="navbar__links">Register</a></li>
		</ul>
		</div>
	</nav>

    <div class="wrapper">
        <center>
        <h1>Cedar Market Account Registration</h1>
        <form action="/register" method="POST">
        
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>        
        
        <button type="submit">Register</button>
        </form>
        </center>
    </div>
</body>
</html>