<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Menu Item</title>
</head>
<body>
    <h2>Add New Menu Item</h2>
    <form id="add_food_item">

        <label for="id">ID:</label>
        <input type="number" id="id" name="id" required autocomplete="off"><br><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required autocomplete="off"><br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" required><br><br>

        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required autocomplete="off"><br><br>

        <button type="submit">Add Item</button>
    </form>

    <script src="/static/templates/admin.js"></script>
</body>
</html>